<div class="timeline-container flex flex-column gap-3">
    <p-timeline [value]="years" layout="horizontal" align="top">
        <ng-template pTemplate="content" let-year>
            <div class="timeline-text">{{ year }}</div>
            <!-- <p-button [label]="year" icon="pi"></p-button> -->
        </ng-template>
    </p-timeline>
</div>

<p-panel [toggleable]="false">
    <!-- Panel header -->
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
            <span class="header-text">Destinations</span>
        </div>
    </ng-template>
    <ng-template pTemplate="icons">
        <button class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)">
            <span class="pi pi-cog"></span>
        </button>
        <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
    </ng-template>
    <!-- Panel footer (paginator) -->
    <ng-template *ngIf="totalDestinations > rows" pTemplate="footer">
        <p-paginator [first]="first" [rows]="4" [totalRecords]="totalDestinations" (onPageChange)="onPageChange($event)"></p-paginator>
    </ng-template>
    <!-- Panel content -->
    <p-tabView>
        <!-- Tab: Destinations List -->
        <p-tabPanel header="Destination list">
            <div class="card-container">
                <!-- Small card component for each destination -->
                <p-card class="card" [header]="destination.city" [subheader]="destination.country" *ngFor="let destination of destinations">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                    </ng-template>
                    <h4>Visited in {{ destination.year }}</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                    <ng-template pTemplate="footer">
                        <p-button label="Save" icon="pi pi-check"></p-button>
                        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </p-tabPanel>
        <!-- Tab: Interactive Map (empty for now) -->
        <p-tabPanel header="Interactive Map">
        </p-tabPanel>
    </p-tabView>
</p-panel>

