
<p-panel [toggleable]="false">
    <!-- Panel header -->
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
            <span class="header-text">Travel posts</span>
        </div>
    </ng-template>
    <ng-template pTemplate="icons">
        <button class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)">
            <span class="pi pi-cog"></span>
        </button>
        <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
    </ng-template>
    <!-- Panel footer (paginator) -->
    <ng-template *ngIf="totalPosts > rows" pTemplate="footer">
        <p-paginator [first]="first" [rows]="4" [totalRecords]="totalPosts" (onPageChange)="onPageChange($event)"></p-paginator>
    </ng-template>
    <!-- Panel content -->
    <div class="card-container">
        <p-card class="card" [header]="post.title" *ngFor="let post of blogPosts">
            <ng-template pTemplate="header">
                <img [alt]="post.title" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
            <p>
                {{ post.content }}
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>
    </div>
</p-panel>