<p-toolbar styleClass="navbar">
    <div class="responsive-container nav">
        <div class="p-toolbar-group-start">
            <div>
                <a [routerLink]="['/']">
                    <img class="nav-icon" src="../assets/images/sunflower.png" />
                </a>
            </div>
            <h1>mariusinbloom</h1>
        </div>

        <div class="p-toolbar-group-center">
            <div class="flex flex-wrap align-items-center gap-3 nav-items">
                <button class="p-link inline-flex justify-content-center align-items-center" [class.active-link]="isActiveHomeLink">
                    <a [routerLink]="['/']" title="Blog">
                        <i class="pi pi-fw pi-book text-2xl"></i>
                        <div class="nav-link">Blog</div>
                    </a>
                </button>
                <button class="p-link inline-flex justify-content-center align-items-center" routerLinkActive="active-link">
                    <a [routerLink]="['/gallery']" title="Gallery">
                        <i class="pi pi-fw pi-image text-2xl" [class.active-link]="isActiveHomeLink"></i>
                        <div class="nav-link">Gallery</div>
                    </a>
                </button>
                <button class="p-link justify-content-center align-items-center" routerLinkActive="active-link">
                    <a [routerLink]="['/destinations']" title="Destinations">
                        <i class="pi pi-fw pi-globe text-2xl" [class.active-link]="isActiveHomeLink"></i>
                        <div class="nav-link">Destinations</div>
                    </a>
                </button>
                <button class="p-link inline-flex justify-content-center align-items-center">
                    <a href="https://www.instagram.com/mariusinbloom" target="_blank">
                        <i class="pi pi-fw pi-instagram text-2xl" title="Instagram"></i>
                        <div class="nav-link">Instagram</div>
                    </a>
                </button>
            </div>
        </div>
    </div>
</p-toolbar>
