@import url("https://fonts.cdnfonts.com/css/vegan-style-personal-use");
@import "node_modules/primeng/resources/themes/mira/theme.css";
@import "node_modules/primeng/resources/primeng.min.css";

@keyframes rotate-icon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1 {
    color: var(--yellow-400);
    font-family: "Vegan Style Personal Use", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0;
    padding: 0 0.25rem;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 0 1rem;
}

.nav-icon {
    height: 3.5rem;
    width: 3.5rem;
}

.nav-link {
    background: var(--gray-500);
    font-size: 1rem;
    font-weight: 500;
    min-width: 6.5rem;
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: 0.4rem;
}
.active-link .nav-link {
    background: var(--bluegray-800);
}
.nav-link:hover {
    background: var(--bluegray-800);
}

.nav-items {
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease;
    gap: 1rem;
    padding: 0 4rem;
}

.nav-items a {
    color: #e2e8f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
    padding: 0;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-items .pi {
    color: var(--teal-500);
    font-size: 2rem;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition: all 0.3s ease;
}

.nav-items a:hover {
    color: #f1f5f9;
}

.nav-items .pi:hover {
    animation: rotate-icon 0.6s ease forwards;
    color: var(--teal-600);
    filter: drop-shadow(0 0 2px rgba(0, 0, 38, 0.4));
}

.nav-items .pi:active, .nav-items a:active {
    color: var(--yellow-500) !important;
}

.active-link a, .active-link i, .active-link i:hover {
    color: #f1f5f9 !important;
}

