<p-toolbar styleClass="navbar">
    <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" />
        <h1>mariusinbloom.wtf</h1>
    </ng-template>
    <ng-template pTemplate="center">
        <div class="flex flex-wrap align-items-center gap-3">
            <p-dock [model]="items" position="top">
                <ng-template pTemplate="item" let-item>
                    <div [class.active-link]="isActiveHomeLink" *ngIf="item.homelink && !item.external">
                        <a
                            [routerLink]="item.url"
                            title="{{ item.label }}"
                        >
                                <i
                                    class="pi"
                                    [ngClass]="'pi-' + item.icon"
                                ></i>
                        </a>
                    </div>
                    <div routerLinkActive="active-link" *ngIf="!item.homelink && !item.external">
                    <a
                        [routerLink]="item.url"
                        title="{{ item.label }}"
                    >
                            <i
                                class="pi"
                                [ngClass]="'pi-' + item.icon"
                            ></i>
                    </a>
                    </div>
                    <div *ngIf="item.external">
                        <a
                            [href]="item.url"
                            title="{{ item.label }}"
                            target="_blank"
                        >
                                <i class="pi" [ngClass]="'pi-' + item.icon"></i>
                        </a>
                    </div>
                </ng-template>
            </p-dock>
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Search" />
            <span class="p-inputgroup-addon">
                <i class="pi pi-search"></i>
            </span>
        </div>
    </ng-template>
</p-toolbar>
