<p-toolbar styleClass="navbar">
    <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" />
    </ng-template>
    <ng-template pTemplate="center">
        <div class="flex flex-wrap align-items-center gap-3">
            <p-dock [model]="items" position="top">
                <ng-template pTemplate="item" let-item>
                    <a [href]="item.url" [attr.target]="item.external ? '_blank' : null">
                        <img [src]="item.icon" [alt]="item.label" width="100%" />
                    </a>
                </ng-template>
            </p-dock>
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
            <span class="font-bold text-bluegray-50">Amy Elsner</span>
        </div>
    </ng-template>
</p-toolbar>