<p-panel [toggleable]="false">
    <!-- Panel header -->
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
            <span class="header-text">Gallery</span>
        </div>
    </ng-template>
    <ng-template pTemplate="icons">
        <button class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)">
            <span class="pi pi-cog"></span>
        </button>
        <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
    </ng-template>
    <!-- Panel footer (paginator) -->
    <ng-template *ngIf="totalGalleries > rows" pTemplate="footer">
        <p-paginator [first]="first" [rows]="4" [totalRecords]="totalGalleries" (onPageChange)="onPageChange($event)"></p-paginator>
    </ng-template>
    <!-- Panel content -->
    <div class="gallery-container">
        <div class="card">
            <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.itemImageSrc" style="width: 100%;" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="grid grid-nogutter justify-content-center">
                        <img [src]="item.thumbnailImageSrc" />
                    </div>
                </ng-template>
            </p-galleria>
        </div>
    </div>
</p-panel>