<div class="card-container">
    <p-card class="card" [header]="post.title" *ngFor="let post of blogPosts">
        <ng-template pTemplate="header">
            <img [alt]="post.title" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            {{ post.content }}
        </p>
        <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
    </p-card>
</div>

<p-paginator [first]="first" [rows]="4" [totalRecords]="totalPosts" (onPageChange)="onPageChange($event)"></p-paginator>