@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@keyframes fadeIn {
    from { opacity: 0.2; }
    to { opacity: 1; }
}

.timeline-container {
    animation: fadeIn 0.8s ease;
    border: 1px solid var(--gray-600);
    border-radius: 5px;
    background: #ffffff;
    color: #4c566a;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem 0.5rem 1.4rem;
}

.timeline-text {
    animation: fadeIn 0.8s ease;
    color: var(--text-color);
    font-size: .85rem;
    font-weight: bold;
    text-indent: -0.7rem;
}

.p-element {
    animation: fadeIn 0.8s ease;
}

.header-text {
    animation: fadeIn 0.8s ease;
    color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    background: linear-gradient(to right, var(--text-color-secondary), var(--primary-color));
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.card-container {
    animation: fadeIn 1.2s ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.card-container p-card {
    flex: 1 1 100%;
    max-width: calc(25% - 1rem);
}

.card:last-child {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .card-container p-card {
        max-width: 100%;
    }
}