html, body {
    margin: 0 0.25rem;
    padding-top: 0.25rem;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom, var(--cyan-50), var(--cyan-300));
    min-height: 100%;
}

.navbar {
    border: 1px solid #333;
    border-radius: 1rem;
    background-image: linear-gradient(60deg, var(--indigo-300), var(--indigo-600));
}

.navbar .p-dock-list-container {
    background: none;
    border: 0;
}

.p-toolbar {
    padding: 0.5rem !important;
}